@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["AboutUsTitle"];
}

<h1>@Localizer["AboutUsHeading"]</h1>
<p class="lead">@Localizer["AboutUsDescription"]</p>